<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css"
    />
    <!-- UIkit JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"
    ></script>
    <script src="https://kit.fontawesome.com/3356596152.js" crossorigin="anonymous"></script>
    <title>FotoFoto</title>
  </head>
  <body>
{{{body}}}
  </body>
</html>