<Header>
 <h1 class="uk-heading uk-text-center uk-position-medium">Hiya {{username}}</h1>
</Header>
<div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-position-center uk-light">
  <h3 class="uk-card-title">Account Information</h3>
  <form class="form change-form" id="updates">
    <div class="form-group">
      <label for="name-update"> Change Username:</label>
      <br />
      <input
        class="uk-input uk-form-width-large"
        type="text"
        id="changeUsername"
      />
      <button class="uk-button uk-button-default" id="usernameBtn" type="submit">submit changes</button>
    </div>
    <div class="form-group">
      <label for="email-signup">Change Email:</label>
      <br />
      <input
        class="uk-input uk-form-width-large"
        type="text"
        id="changeEmail"
      />
      <button class="uk-button uk-button-default" id="emailBtn" type="submit">submit changes</button>
    </div>
    <div class="form-group">
      <label for="password-signup">Change Password:</label>
      <br />
      <input
        class="uk-input uk-form-width-large"
        type="password"
        id="changePassword"
      />
      <button class="uk-button uk-button-default" id="passwordBtn" type="submit">submit changes</button>
    </div>
    <br />
    <div class="form-group">
    </div>
  </form>
</div>


<nav class="uk-navbar-container uk-position-bottom" uk-navbar>
    <div class="uk-navbar-center">
      <p class=" uk-navbar-item uk-link-muted uk-text-large"><a href="/homepage">|  Home   |</a></p>
      <div class="uk-navbar-center-right"><div>
        <p class=" uk-navbar-item uk-link-muted uk-text-large"><a href="/api/users/logout">|   Logout  | </a></p>
      </div>
</nav>




<script src="/js/account.js"></script>
