<nav class="uk-navbar-container uk-position-bottom " uk-navbar>
    <div class="uk-navbar-center">
      <p class=" uk-navbar-item uk-link-muted uk-text-large"><a href="/homepage">|  Home   |</a></p>
      <div class="uk-navbar-center-right"><div>
        <p class=" uk-navbar-item uk-link-muted uk-text-large"><a href="/api/users/logout">|   Logout  | </a></p>
      </div>
</nav>