<script src="https://media-editor.cloudinary.com/all.js" type="text/javascript"></script>
<script src="/js/mediaEditor.js"></script>



<footer class="footer">
    <div  style="background-color:rgb(128, 97, 156) !important; padding: 1% 50% 0.5% 50%;">
    <p><a class="uk-link-muted uk-text-large" style="margin-right:50px"href="/homepage">|Home|</a><a class="uk-link-muted uk-text-large"href="/api/users/logout">|Logout|</a></p>
    </div>
</footer>
