
<form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="uk-input uk-form-width-large" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="uk-input uk-form-width-large" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="uk-input uk-form-width-large" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="uk-button uk-button-default" type="submit">signup</button>
      </div>
    </form>