<link
  rel="stylesheet"
  href="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css"
/>
<script src="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.js"></script>
<body>
  ...
  <div id="tui-image-editor"></div>
  ...
</body>

<footer class="footer">
    <div  style="background-color:rgb(128, 97, 156) !important; padding: 0.5% 50% 0.5% 50%;">
    <p><a class="uk-link-muted uk-text-large" style="margin-right:50px"href="/homepage">|Home|</a><a class="uk-link-muted uk-text-large"href="/api/users/logout">|Logout|</a></p>
    </div>
</footer>
<script src="libs/code-snippet.min.js"></script>
<script src="libs/jquery.min.js"></script>
<script src="libs/fabric.min.js"></script>
<script src="js/image-editor.js"></script>
<script src="/js/toastEditor.js"></script>