
* {
    font-family: 'Kaushan Script' !important;
}

.footer {
   margin-bottom: 5%;
}

#footerLogout {
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}

#headerContainer {
    display: flex;
    justify-content: space-evenly;
}

/* #logoContainer {
    display: flex;
} */

/* #loginContainer {
    display: flex;
} */